html {
    height: 100%;
    width: 100%;
  }
  
  
.text-form {
    display: flex;
    flex-direction: row;
}

.first-block,
.second-block {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.output {
    margin-top: 20px;
    padding: 5px;
}